<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg.sub(/digest/, "") %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter User Details</legend>
    
    <div class="field">
      <%= f.label :username, 'Username:' %><br>
      <%= f.text_field :username, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :password, 'Password:' %><br>
      <%= f.password_field :password, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Retype Password:' %><br>
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  
  </fieldset>
<% end %>
